*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trirong", serif;
}

.wrapper{
    height: 100vh;
    overflow: hidden;
    color: rgb(247, 250, 249);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.left-corner{
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.logo-image{
    height: 50px;
    width: 50px;
    border-radius: 2px;
}

.logo-text{
    margin-left: 1.2rem;
    font-size: 34px;
    font-weight: 900;
    color: black;
}

.right-corner{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.right-corner button{
    cursor: pointer;
    text-decoration: none;
}

.login-button{
    background-color: #000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

.signup-button{
    background-color: white; 
    color: black;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
}

.main-section{
    display: flex;
    color: black;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.left-part{
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    height: 100%;
}

.generate-meet{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0 #00003f49; 
    position: relative; 
    padding-right: 20px;
    margin-right: 1rem;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    cursor: pointer;
}

.input-label{
    padding: 0.5rem ;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
}

.join-meet{
    margin-top: 0.8rem;
    cursor: pointer;
    font-size: 1rem;
}

.join-meet:hover{
    text-decoration: underline;
}

.display-text{
    line-height: 3.25rem;
    font-size: 2.75rem;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-join{
    display: flex;
    flex-direction: row;
}

.right-part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}


.video{
    height: 25rem;
    margin-left: 14rem;
    margin-bottom: 5rem;
}
